@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html, body {
      overflow-x: hidden;
    }
 }

.slick-slider {
    height: 400px; /* Adjust the height as needed */
}
  
.slick-slide {
    height: 100%; /* Ensures that the slides take the full height */
}